@{
  Layout = "_Layout"; 
}

@model Factory.Models.Engineer

<h2>Assign a Machine</h2>

<h3>Assign a machine to @Html.DisplayFor(model => model.EngineerName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" class="btn">
}

<p>@Html.ActionLink("Back to list", "Index")</p>